/* 布局样式 */
// 顶部-消息栏
$top-info-bar-height: 30px;

// 顶部-导航栏
$topbar-height: 44px;
$topbar-bg-color: #3F4857;

// 侧边栏宽度
$sidebar-width: 240px;
$sidebar-bg-color: #1d2e32;


/* base 样式 */
// 边框圆角统一
$border-radius-base: 4px;
$spacing-mini: 10px;
$spacing-base: 16px;
$padding-x: 16px;
$border-color: #dcdfe6;
$btn-color: #17A2BB;
